.popup-container{
    text-align: center;
    color: #fecc7d;
}

.popup-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 450px;
    width: 600px;
    padding: 20px;
}

.popup-form>input, select, button, textarea {
    padding: 20px;
    color: #fecc7d;
}
.popup-form__select{
    background: #595959;
    color: black;
}
button, select {
    cursor: pointer;
}